[Unit]
Description=LaunchPad Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/launchpad
ExecStart=/home/ubuntu/launchpad/start.sh server
ExecStop=/home/ubuntu/launchpad/cleanup.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
